* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif
}

body {
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    background-color: #FFF;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    text-align: center;
    
}

.container img {
    margin: 10px;
    width: 215px;
    border-radius: 8px;
}

.content {
    padding: 10px;
    width: 220px;
}

.content h1 {
    font-size: 17px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.content p {
    color: hsl(216, 15%, 48%);
    font-weight: 400;
    font-size: 10px;
    padding: 15px;
}

footer {
    margin-top: 20px;
}

@media (max-width: 300px) {
    .container {
        background-color: #FFF;
        width: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 8px;
        text-align: center;
        
    }
    
    .container img {
        margin: 10px;
        width: 195px;
        border-radius: 8px;
    }
    
    .content {
        padding: 10px;
        width: 200px;
    }
    
    .content h1 {
        font-size: 15px;
        font-weight: 700;
        color: hsl(218, 44%, 22%);
    }
    
    .content p {
        color: hsl(216, 15%, 48%);
        font-weight: 400;
        font-size: 9px;
        padding: 15px;
    }
    
    footer {
        margin-top: 20px;
        font-size: 15px;
    }
  }